@import 'primeng/resources/themes/lara-dark-blue/theme.css';
@import "primeicons/primeicons.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  font-size: 14px;
}

body .p-component {
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 400;
  background-color: #e4e4e4;
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  font-family: 'Poppins', sans-serif;
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#actions {
  display: flex;
  position: relative;
  flex-direction: row;
}

#actions #gen-qrcodes {
  margin-left: .5rem;
}

#select-stage {
  margin-bottom: 2rem;
}




